@font-face {
  font-family: 'Modern No. 20';
  src: url("./Modern-no20.ttf");
}

@font-face {
  font-family: 'League Script';
  src: url("./LeagueScript.ttf");
}
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&family=Loved+by+the+King&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400&display=swap');

//fonts
$modern20: "Modern No. 20";
$libre: 'Libre Caslon Display', serif;
$king: 'Loved by the King', cursive;
$league: 'League Script';
$josefin: 'Josefin Sans', sans-serif;

//colors
$primary--dark: #121212;
$gold--ish: #9e9679;
$brown--ish: #3C2204;

@mixin breakpoint($point) {
    @if $point == mobile { 
      @media screen and (min-width: 320px) {
        @content;
      }
    } @else if $point == tablet {
      @media screen and (min-width: 768px) {
        @content;
      }
    } @else if $point == desktop {
      @media screen and (min-width: 1024px) {
        @content;
      }
    } @else if $point == wide {
      @media screen and (min-width: 1440px) {
        @content;
      }
    }
  }