@import "../variables/variables.scss";

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  .header-inner {
    @include breakpoint(mobile) {
      width: 100vw;
      height: 300px;
      margin-top: -12rem;
      background-color: $primary--dark;
      transform: skewY(-10deg);
      position: relative;
      display: flex;
      justify-content: center;
    }

    @include breakpoint(tablet) {
      margin-top: -10rem;
    }

    @include breakpoint(desktop) {
      height: 500px;
      margin-top: -22rem;
    }

    @include breakpoint(wide) {
      height: 700px;
      margin-top: -33rem;
    }

    .header-links {
      @include breakpoint(mobile) {
        width: 90%;
        height: 50px;
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 10px;
      }

      @include breakpoint(tablet) {
        width: 60%;
      }

      @include breakpoint(desktop) {
        width: 30%;
        margin-bottom: 10px;
      }

      @include breakpoint(wide) {
        width: 30%;
        margin-bottom: 20px;
      }

      a {
        @include breakpoint(mobile) {
          font-family: $libre;
          text-decoration: none;
          font-size: 1.5rem;
          color: $gold--ish;
        }

        @include breakpoint(desktop) {
          font-size: 1.4rem;
        }

        @include breakpoint(wide) {
          font-size: 1.65rem;
        }
      }
    }
  }

  .image-background {
    @include breakpoint(mobile) {
      width: 100vw;
      height: 250px;
      background-color: red;
      transform: skewY(-10deg);
      background-color: #afa8a5;
      position: "relative";
      overflow: hidden;

      @include breakpoint(tablet) {
        height: 350px;
      }

      @include breakpoint(desktop) {
        height: 550px;
      }

      @include breakpoint(wide) {
        height: 700px;
      }

      h1 {
        font-family: $king;
        font-size: 3.5rem;
        color: white;
        letter-spacing: 2px;

        @include breakpoint(tablet) {
          font-size: 7.5rem;
        }

        @include breakpoint(desktop) {
          font-size: 10rem;
        }

        @include breakpoint(wide) {
          font-size: 12.5rem;
        }
      }

      .h1-1 {
        @include breakpoint(mobile) {
          margin-top: 5%;
          margin-left: 10%;
        }

        @include breakpoint(tablet) {
          margin-top: 2%;
          margin-left: 10%;
        }

        @include breakpoint(desktop) {
          margin-left: 10%;
          margin-top: 3.5%;
        }

        @include breakpoint(wide) {
          margin-left: 15%;
          margin-top: 4%;
        }
      }

      .h1-2 {
        animation-delay: 0.4s;
        animation-duration: 1.5s;
        @include breakpoint(mobile) {
          margin-left: 10%;
          margin-top: -2.5rem;
        }

        @include breakpoint(tablet) {
          margin-left: 20%;
          margin-top: -5rem;
        }

        @include breakpoint(desktop) {
          margin-left: 20%;
          margin-top: -6.5rem;
        }

        @include breakpoint(wide) {
          margin-left: 30%;
          margin-top: -8rem;
        }
      }
      img {
        @include breakpoint(mobile) {
          position: absolute;
          bottom: 0;
          right: 0;
          width: 200px;
          transform: skewY(10deg) rotate(-10deg);
          margin-bottom: 1px;
        }

        @include breakpoint(tablet) {
          width: 285px;
        }

        @include breakpoint(desktop) {
          width: 425px;
        }

        @include breakpoint(wide) {
          width: 550px;
        }
      }
    }
  }

  .logo {
    width: 60px;
    transform: skewY(10deg);

    @include breakpoint(tablet) {
      width: 70px;
    }
  }

  .about {
    width: 100vw;
    height: 250px;
    background-color: $primary--dark;
    transform: skewY(-10deg);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;

    @include breakpoint(tablet) {
      height: 300px;
    }

    @include breakpoint(desktop) {
      height: 400px;
    }

    @include breakpoint(wide) {
      height: 500px;
    }
    p {
      color: white;
      font-family: $modern20;
      transform: skewY(10deg);
      text-align: center;
      line-height: 30px;
      font-size: 1rem;

      @include breakpoint(tablet) {
        width: 80%;
        font-size: 1.5rem;
      }

      @include breakpoint(desktop) {
        width: 70%;
        line-height: 45px;
      }

      @include breakpoint(wide) {
        width: 45%;
        line-height: 60px;
      }
    }
  }

  .modular-collection {
    @include breakpoint(mobile) {
      width: 100vw;
      height: 500px;
      margin-top: -2.5rem;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    @include breakpoint(tablet) {
      height: 650px;
      margin-top: -4.5rem;
    }

    @include breakpoint(desktop) {
      margin-top: -5.5rem;
      height: 750px;
    }

    @include breakpoint(wide) {
      height: 1100px;
      margin-top: -10.5rem;
    }

    .text-div {
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 80%;
      height: 17rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h1 {
        font-family: $libre;
        color: white;
        font-size: 2.5rem;
        letter-spacing: 10px;

        @include breakpoint(desktop) {
          font-size: 3rem;
        }
      }

      h2 {
        font-family: $league;
        font-size: 2.5rem;
        color: white;
      }

      a {
        text-decoration: none;
        margin-top: 2rem;

        .shop-button {
          width: 10rem;
          height: 2.5rem;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 2px solid white;
          color: white;
          font-family: $josefin;
          transition: 0.2s ease-in-out;

          &:hover {
            background-color: rgba(255, 255, 255, 0.527);
            cursor: pointer;
          }
        }
      }
    }

    .images {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 50% 50%;

      img {
        filter: blur(5px) brightness(80%);
        z-index: -1;
      }
      .Mod-img-1 {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
      .Mod-img-2 {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
      .Mod-img-3 {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
      .Mod-img-4 {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }

  .review {
    width: 100vw;
    height: 300px;
    background-color: rgb(235, 235, 235);
    transform: skewY(10deg);
    margin-top: -3rem;
    display: flex;
    flex-direction: column;
    padding: 3rem 3rem;

    @include breakpoint(tablet) {
      margin-top: -4rem;
      height: 300px;
      padding: 3.5rem 20%;
    }

    @include breakpoint(desktop) {
      height: 400px;
      margin-top: -5.5rem;
      padding: 5rem 20%;
    }

    @include breakpoint(wide) {
      height: 550px;
      margin-top: -10.5rem;
      padding: 10rem 30%;
    }

    h1 {
      transform: skewY(-10deg);
      font-family: $modern20;
      font-size: 1rem;
      letter-spacing: 10px;
      color: $brown--ish;

      @include breakpoint(desktop) {
        font-size: 1.75rem;
      }
    }
    h2 {
      transform: skewY(-10deg);
      font-family: $league;
      color: $primary--dark;
      @include breakpoint(desktop) {
        font-size: 1.5rem;
      }
    }
    p {
      transform: skewY(-10deg);
      font-family: $josefin;
      margin-left: 1rem;
      text-align: justify;
      line-height: 25px;
      margin-top: 1rem;
      color: $primary--dark;

      @include breakpoint(desktop) {
        font-size: 1.25rem;
        line-height: 30px;
      }
    }
  }

  .follow-links {
    width: 100vw;
    height: 200px;
    margin-top: -2.5rem;
    background-color: $primary--dark;
    transform: skewY(-10deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include breakpoint(tablet) {
      height: 300px;
      margin-top: -4rem;
    }

    @include breakpoint(desktop) {
      height: 350px;
      margin-top: -5.5rem;
    }

    @include breakpoint(wide) {
      margin-top: -10.5rem;
    }

    h1 {
      font-family: $league;
      color: $gold--ish;
      transform: skewY(10deg) rotate(-10deg);

      @include breakpoint(tablet) {
        font-size: 2rem;
      }

      @include breakpoint(desktop) {
        font-size: 2.5rem;
      }
    }

    .main-links {
      width: 60%;
      height: 50px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-top: 1.5rem;

      @include breakpoint(tablet) {
        margin-top: 2.5rem;
      }

      @include breakpoint(desktop) {
        margin-top: 3rem;
      }

      a {
        &:hover {
          cursor: pointer;
        }
      }
      .icon {
        font-size: 1.5rem;

        @include breakpoint(tablet) {
          font-size: 2rem;
        }

        @include breakpoint(desktop) {
          font-size: 2.5rem;
        }
      }
    }
  }

  .message {
    width: 100vw;
    height: 450px;
    margin-top: -2.5rem;
    background-color: #afa8a5;
    padding: 7rem 3rem 5rem 3rem;
    display: flex;
    flex-direction: column;

    @include breakpoint(tablet) {
      height: 500px;
      margin-top: -4.5rem;
      padding: 10rem 10rem 5rem 10rem;
    }

    @include breakpoint(desktop) {
      height: 700px;
      padding: 15rem 15rem 5rem 15rem;
      margin-top: -6rem;
    }

    @include breakpoint(wide) {
      height: 1000px;
      padding: 25rem 30% 5rem 30%;
      margin-top: -10.5rem;
    }

    h1 {
      font-family: $modern20;
      color: $brown--ish;
      font-size: 1rem;
      letter-spacing: 5px;
    }

    input {
      font-family: $josefin;
      text-indent: 0.4rem;
      padding: 0.4rem;
      margin-top: 0.6rem;
    }

    .contact-subject {
      margin-top: 1.5rem;
    }

    textarea {
      font-family: $josefin;
      text-indent: 0.4rem;
      padding: 0.4rem;
      margin-top: 0.6rem;
      resize: none;
    }

    .contact-button {
      width: 10rem;
      background-color: $brown--ish;
      color: rgb(239, 239, 239);
      outline: none;
      margin-left: auto;
      margin-top: 1.2rem;
    }
  }

  footer {
    background-color: rgb(239, 239, 239);
    font-family: $libre;
    padding: 0.45rem 30%;
    letter-spacing: 1px;
    font-size: 0.4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;

    @include breakpoint(tablet) {
      padding: 0.45rem 40%;
    }
  }

  .up-div {
    position: fixed;
    margin-bottom: 4.5%;
    margin-right: 4%;
    right: 0;
    bottom: 0;
    background-color: rgb(27, 35, 80);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    z-index: 2;

    .up-arrow {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      position: relative;
      display: grid;
      place-items: center;

      &::before {
        content: "";
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 7px solid rgb(224, 224, 103);
        z-index: 3;
      }
      &:hover {
        cursor: pointer;
        background-color: rgb(35, 46, 109);
      }
    }
  }
}

.contact2 {
  animation-delay: 0.4s;
}

