@import url(/Users/cyril/Github Repositories/Projects/kuriously-krafted/src/fonts/stylesheet.css);
@import url("https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&family=Loved+by+the+King&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 100vw;
}

@media screen and (min-width: 320px) {
  .container .header-inner {
    width: 100vw;
    height: 300px;
    margin-top: -12rem;
    background-color: #121212;
    -webkit-transform: skewY(-10deg);
            transform: skewY(-10deg);
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .container .header-inner {
    margin-top: -10rem;
  }
}

@media screen and (min-width: 1024px) {
  .container .header-inner {
    height: 500px;
    margin-top: -22rem;
  }
}

@media screen and (min-width: 1440px) {
  .container .header-inner {
    height: 700px;
    margin-top: -33rem;
  }
}

@media screen and (min-width: 320px) {
  .container .header-inner .header-links {
    width: 90%;
    height: 50px;
    position: absolute;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) {
  .container .header-inner .header-links {
    width: 60%;
  }
}

@media screen and (min-width: 1024px) {
  .container .header-inner .header-links {
    width: 30%;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1440px) {
  .container .header-inner .header-links {
    width: 30%;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 320px) {
  .container .header-inner .header-links a {
    font-family: "Libre Caslon Display", serif;
    text-decoration: none;
    font-size: 1.5rem;
    color: #9e9679;
  }
}

@media screen and (min-width: 1024px) {
  .container .header-inner .header-links a {
    font-size: 1.40rem;
  }
}

@media screen and (min-width: 1440px) {
  .container .header-inner .header-links a {
    font-size: 1.65rem;
  }
}

@media screen and (min-width: 320px) {
  .container .image-background {
    width: 100vw;
    height: 250px;
    background-color: red;
    -webkit-transform: skewY(-10deg);
            transform: skewY(-10deg);
    background-color: #afa8a5;
    position: "relative";
    overflow: hidden;
  }
}

@media screen and (min-width: 320px) and (min-width: 768px) {
  .container .image-background {
    height: 350px;
  }
}

@media screen and (min-width: 320px) and (min-width: 1024px) {
  .container .image-background {
    height: 550px;
  }
}

@media screen and (min-width: 320px) and (min-width: 1440px) {
  .container .image-background {
    height: 700px;
  }
}

@media screen and (min-width: 320px) {
  .container .image-background h1 {
    font-family: "Loved by the King", cursive;
    font-size: 3.5rem;
    color: white;
    letter-spacing: 2px;
  }
}

@media screen and (min-width: 320px) and (min-width: 768px) {
  .container .image-background h1 {
    font-size: 7.5rem;
  }
}

@media screen and (min-width: 320px) and (min-width: 1024px) {
  .container .image-background h1 {
    font-size: 10rem;
  }
}

@media screen and (min-width: 320px) and (min-width: 1440px) {
  .container .image-background h1 {
    font-size: 12.5rem;
  }
}

@media screen and (min-width: 320px) and (min-width: 320px) {
  .container .image-background .h1-1 {
    margin-top: 5%;
    margin-left: 10%;
  }
}

@media screen and (min-width: 320px) and (min-width: 768px) {
  .container .image-background .h1-1 {
    margin-top: 2%;
    margin-left: 10%;
  }
}

@media screen and (min-width: 320px) and (min-width: 1024px) {
  .container .image-background .h1-1 {
    margin-left: 10%;
    margin-top: 3.5%;
  }
}

@media screen and (min-width: 320px) and (min-width: 1440px) {
  .container .image-background .h1-1 {
    margin-left: 15%;
    margin-top: 4%;
  }
}

@media screen and (min-width: 320px) and (min-width: 320px) {
  .container .image-background .h1-2 {
    margin-left: 10%;
    margin-top: -2.5rem;
  }
}

@media screen and (min-width: 320px) and (min-width: 768px) {
  .container .image-background .h1-2 {
    margin-left: 20%;
    margin-top: -5rem;
  }
}

@media screen and (min-width: 320px) and (min-width: 1024px) {
  .container .image-background .h1-2 {
    margin-left: 20%;
    margin-top: -6.5rem;
  }
}

@media screen and (min-width: 320px) and (min-width: 1440px) {
  .container .image-background .h1-2 {
    margin-left: 30%;
    margin-top: -8rem;
  }
}

@media screen and (min-width: 320px) and (min-width: 320px) {
  .container .image-background img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 200px;
    -webkit-transform: skewY(10deg) rotate(-10deg);
            transform: skewY(10deg) rotate(-10deg);
    margin-bottom: 1px;
  }
}

@media screen and (min-width: 320px) and (min-width: 768px) {
  .container .image-background img {
    width: 285px;
  }
}

@media screen and (min-width: 320px) and (min-width: 1024px) {
  .container .image-background img {
    width: 425px;
  }
}

@media screen and (min-width: 320px) and (min-width: 1440px) {
  .container .image-background img {
    width: 550px;
  }
}

.container .logo {
  width: 60px;
  -webkit-transform: skewY(10deg);
          transform: skewY(10deg);
}

@media screen and (min-width: 768px) {
  .container .logo {
    width: 70px;
  }
}

.container .about {
  width: 100vw;
  height: 250px;
  background-color: #121212;
  -webkit-transform: skewY(-10deg);
          transform: skewY(-10deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 2rem;
}

@media screen and (min-width: 768px) {
  .container .about {
    height: 300px;
  }
}

@media screen and (min-width: 1024px) {
  .container .about {
    height: 400px;
  }
}

@media screen and (min-width: 1440px) {
  .container .about {
    height: 500px;
  }
}

.container .about p {
  color: white;
  font-family: "Modern No. 20";
  -webkit-transform: skewY(10deg);
          transform: skewY(10deg);
  text-align: center;
  line-height: 30px;
  font-size: 1rem;
}

@media screen and (min-width: 768px) {
  .container .about p {
    width: 80%;
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .container .about p {
    width: 70%;
    line-height: 45px;
  }
}

@media screen and (min-width: 1440px) {
  .container .about p {
    width: 45%;
    line-height: 60px;
  }
}

@media screen and (min-width: 320px) {
  .container .modular-collection {
    width: 100vw;
    height: 500px;
    margin-top: -2.5rem;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .container .modular-collection {
    height: 650px;
    margin-top: -4.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .container .modular-collection {
    margin-top: -5.5rem;
    height: 750px;
  }
}

@media screen and (min-width: 1440px) {
  .container .modular-collection {
    height: 1100px;
    margin-top: -10.5rem;
  }
}

.container .modular-collection .text-div {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 80%;
  height: 17rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .modular-collection .text-div h1 {
  font-family: "Libre Caslon Display", serif;
  color: white;
  font-size: 2.5rem;
  letter-spacing: 10px;
}

@media screen and (min-width: 1024px) {
  .container .modular-collection .text-div h1 {
    font-size: 3rem;
  }
}

.container .modular-collection .text-div h2 {
  font-family: "League Script";
  font-size: 2.5rem;
  color: white;
}

.container .modular-collection .text-div a {
  text-decoration: none;
  margin-top: 2rem;
}

.container .modular-collection .text-div a .shop-button {
  width: 10rem;
  height: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid white;
  color: white;
  font-family: "Josefin Sans", sans-serif;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.container .modular-collection .text-div a .shop-button:hover {
  background-color: rgba(255, 255, 255, 0.527);
  cursor: pointer;
}

.container .modular-collection .images {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 50% 50%;
      grid-template-rows: 50% 50%;
}

.container .modular-collection .images img {
  -webkit-filter: blur(5px) brightness(80%);
          filter: blur(5px) brightness(80%);
  z-index: -1;
}

.container .modular-collection .images .Mod-img-1 {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.container .modular-collection .images .Mod-img-2 {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.container .modular-collection .images .Mod-img-3 {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.container .modular-collection .images .Mod-img-4 {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.container .review {
  width: 100vw;
  height: 300px;
  background-color: #ebebeb;
  -webkit-transform: skewY(10deg);
          transform: skewY(10deg);
  margin-top: -3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3rem 3rem;
}

@media screen and (min-width: 768px) {
  .container .review {
    margin-top: -4rem;
    height: 300px;
    padding: 3.5rem 20%;
  }
}

@media screen and (min-width: 1024px) {
  .container .review {
    height: 400px;
    margin-top: -5.5rem;
    padding: 5rem 20%;
  }
}

@media screen and (min-width: 1440px) {
  .container .review {
    height: 550px;
    margin-top: -10.5rem;
    padding: 10rem 30%;
  }
}

.container .review h1 {
  -webkit-transform: skewY(-10deg);
          transform: skewY(-10deg);
  font-family: "Modern No. 20";
  font-size: 1rem;
  letter-spacing: 10px;
  color: #3C2204;
}

@media screen and (min-width: 1024px) {
  .container .review h1 {
    font-size: 1.75rem;
  }
}

.container .review h2 {
  -webkit-transform: skewY(-10deg);
          transform: skewY(-10deg);
  font-family: "League Script";
  color: #121212;
}

@media screen and (min-width: 1024px) {
  .container .review h2 {
    font-size: 1.5rem;
  }
}

.container .review p {
  -webkit-transform: skewY(-10deg);
          transform: skewY(-10deg);
  font-family: "Josefin Sans", sans-serif;
  margin-left: 1rem;
  text-align: justify;
  line-height: 25px;
  margin-top: 1rem;
  color: #121212;
}

@media screen and (min-width: 1024px) {
  .container .review p {
    font-size: 1.25rem;
    line-height: 30px;
  }
}

.container .follow-links {
  width: 100vw;
  height: 200px;
  margin-top: -2.5rem;
  background-color: #121212;
  -webkit-transform: skewY(-10deg);
          transform: skewY(-10deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .container .follow-links {
    height: 300px;
    margin-top: -4rem;
  }
}

@media screen and (min-width: 1024px) {
  .container .follow-links {
    height: 350px;
    margin-top: -5.5rem;
  }
}

@media screen and (min-width: 1440px) {
  .container .follow-links {
    margin-top: -10.5rem;
  }
}

.container .follow-links h1 {
  font-family: "League Script";
  color: #9e9679;
  -webkit-transform: skewY(10deg) rotate(-10deg);
          transform: skewY(10deg) rotate(-10deg);
}

@media screen and (min-width: 768px) {
  .container .follow-links h1 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .container .follow-links h1 {
    font-size: 2.5rem;
  }
}

.container .follow-links .main-links {
  width: 60%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.5rem;
}

@media screen and (min-width: 768px) {
  .container .follow-links .main-links {
    margin-top: 2.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .container .follow-links .main-links {
    margin-top: 3rem;
  }
}

.container .follow-links .main-links .icon {
  font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
  .container .follow-links .main-links .icon {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .container .follow-links .main-links .icon {
    font-size: 2.5rem;
  }
}

.container .message {
  width: 100vw;
  height: 450px;
  margin-top: -2.5rem;
  background-color: #afa8a5;
  padding: 7rem 3rem 5rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .container .message {
    height: 500px;
    margin-top: -4.5rem;
    padding: 10rem 10rem 5rem 10rem;
  }
}

@media screen and (min-width: 1024px) {
  .container .message {
    height: 700px;
    padding: 15rem 15rem 5rem 15rem;
    margin-top: -6rem;
  }
}

@media screen and (min-width: 1440px) {
  .container .message {
    height: 1000px;
    padding: 25rem 30% 5rem 30%;
    margin-top: -10.5rem;
  }
}

.container .message h1 {
  font-family: "Modern No. 20";
  color: #3C2204;
  font-size: 1rem;
  letter-spacing: 5px;
}

.container .message input {
  font-family: "Josefin Sans", sans-serif;
  text-indent: 0.4rem;
  padding: 0.4rem;
  margin-top: 0.6rem;
}

.container .message .contact-subject {
  margin-top: 1.5rem;
}

.container .message textarea {
  font-family: "Josefin Sans", sans-serif;
  text-indent: 0.4rem;
  padding: 0.4rem;
  margin-top: 0.6rem;
  resize: none;
}

.container .message .contact-button {
  width: 10rem;
  background-color: #3C2204;
  color: #efefef;
  outline: none;
  margin-left: auto;
  margin-top: 1.2rem;
}

.container footer {
  background-color: #efefef;
  font-family: "Libre Caslon Display", serif;
  padding: 0.45rem 30%;
  letter-spacing: 1px;
  font-size: 0.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .container footer {
    padding: 0.45rem 40%;
  }
}
/*# sourceMappingURL=Home.css.map */