@import url("https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&family=Loved+by+the+King&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400&display=swap");
@font-face {
  font-family: 'Modern No. 20';
  src: url("../fonts/Modern-no20.ttf");
}

@font-face {
  font-family: 'League Script';
  src: url("../fonts/LeagueScript.ttf");
}

.shop-container {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f3f3f3;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product-container {
  width: 85%;
  height: 80vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.upper-div {
  width: 70%;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.upper-div .link {
  text-decoration: none;
  color: black;
}

.upper-div .link:hover {
  cursor: pointer;
}

.upper-div .arrow {
  font-size: 1.5rem;
}

.upper-div h1 {
  font-family: "League Script";
  font-size: 2rem;
  margin-left: 1rem;
}

@media screen and (min-width: 320px) {
  .main-product {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    overflow-y: scroll;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .main-product {
    width: 90%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media screen and (min-width: 1024px) {
  .main-product {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
  }
}

@media screen and (min-width: 1440px) {
  .main-product {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 75%;
    height: 100%;
    overflow-y: scroll;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 320px) {
  .product-card {
    margin: 1.5rem 0;
    width: 15rem;
    height: 20rem;
    padding: 0.5rem;
    background-color: whitesmoke;
    -webkit-box-shadow: -8px -8px 15px white, 6px 6px 20px rgba(0, 0, 0, 0.2);
            box-shadow: -8px -8px 15px white, 6px 6px 20px rgba(0, 0, 0, 0.2);
    -webkit-animation-delay: 0.8s;
            animation-delay: 0.8s;
  }
}

@media screen and (min-width: 768px) {
  .product-card {
    margin: 1.5rem;
  }
}

@media screen and (min-width: 1440px) {
  .product-card {
    margin: 1.5rem;
    width: 15rem;
    height: 20rem;
    -webkit-box-shadow: -8px -8px 15px white, 6px 6px 20px rgba(0, 0, 0, 0.2);
            box-shadow: -8px -8px 15px white, 6px 6px 20px rgba(0, 0, 0, 0.2);
  }
}

.product-card h3 {
  font-family: "League Script";
  margin-top: 20px;
  margin-left: 1%;
  font-size: 1.5rem;
}

.product-card h4 {
  font-size: 1rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  margin: 0.5rem;
  line-height: 20px;
}

.product-image {
  width: 100%;
  height: 60%;
  -o-object-fit: cover;
     object-fit: cover;
}
/*# sourceMappingURL=Shop.css.map */